<div class="ngdialog-message dialog-content">
    <div class="" role="dialog">      
        <div class="dialog-header">
            <button type="button" class="close" ng-click="closeLogin()">&times;</button>
            <h4 id="loginTitle">User Login </h4>
        </div>
        <div class="dialog-body">
            <form ng-submit="doLogin()">
                <div class="form-group">
                    <label for="username">Username</label><br>
                    <input id="username" type="text" class="form-control" name="username" ng-model="loginData.username"><br>
                    <label for="password">Password</label><br>
                    <input id="password" type="text" class="form-control" name="password" ng-model="loginData.password"><br>
                    <div id="loginButtons" class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-3">
                        <button id="cancel" type="button" class="btn btn-default btn-md" ng-click="closeLogin()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button></div>
                    <div class="col-xs-3">
                        <button id="submit" type="submit" class="btn btn-md"><i class="fa fa-power-off" aria-hidden="true"></i> Login</button></div>
                    </div>
                </div>
            </form>
            <div id="newReg">
                <a id="newRegLink" ng-click="openRegister()">Click here to register</a>
            </div>
        </div>      
    </div>
</div>